{
    # Set the CA certificate and key paths
    ca_certificate /ca-certs/ca.crt
    ca_key /ca-certs/ca.key
}

*.localhost {
    tls {
        ca_root /ca-certs/ca.crt
    }

    api-server.localhost {
        reverse_proxy * http://api-server:8989
    }
    o-platform.localhost {
        reverse_proxy * http://frontend:80
    }
}
