{
    email admin@localhost
    pki {
 		ca development-ca {
 			name                  development-ca
 			root_cn               development-ca
 			root {
 				cert   /etc/caddy/ca-certs/ca.crt
 				key    /etc/caddy/ca-certs/ca.key
 			}
 		}
 	}
}

*.localhost {
    tls {
       issuer internal
    }

    @api-server host api-server.circlesubi.localhost
    handle @api-server {
        reverse_proxy /graphql ws://api-server:8989
        reverse_proxy * http://api-server:8989
    }

    @o-platform host o-platform.circlesubi.localhost
    handle @o-platform {
        reverse_proxy /ws ws://frontend:8080
        reverse_proxy * http://frontend:8080
    }

    @container-monitor host container-monitor.circlesubi.localhost
    handle @container-monitor {
        reverse_proxy * http://container-monitor:3000
    }

    @static-content host static.circlesubi.localhost
    handle @static-content {
        reverse_proxy * http://static-content:80
    }

    # Fallback for otherwise unhandled domains
    handle {
        abort
    }
}
